In [1]:
import pandas as pd
import numpy as np

import plotly
import plotly.graph_objs as go 
import plotly.offline as offline
import plotly.express as px

In [2]:
def searchdf(df, **criteria):
    for col, val in criteria.items():
        df=df[df[col]==val]
    return df

<h2> Read Data

In [3]:
df_bothunter = pd.read_csv('./02_cleaned/bothunter.csv').iloc[:, 1:]
df_bothunter

,status_id,user_id,screen_name,prediction,probability
0,1594177624171237376,149538421,raidou_survivor,0.0,0.259450
1,1594178011376455681,1376067487297601537,Nathandrake558,1.0,0.635951
2,1594178020062863360,814034558492545024,SanjayS02169973,1.0,0.788399
3,1594178104750010370,1558118121587752960,Right130813311,1.0,0.715715
4,1594178164456312832,1159168941870256129,Tatastouu,1.0,0.832714
...,...,...,...,...,...
1909036,1600875526201217024,3463820669,theressantv91,1.0,0.778049
1909037,1600875544073056256,1599400388297474049,LenaHar04634640,1.0,0.552477
1909038,1600875577380327425,1401931355554926592,SANTOSH83819519,1.0,0.842683
1909039,1600875583814406145,892232820407418880,Wata__Nao,0.0,0.229234
1909040,1600875587404693509,1533904146,Mmemberville_,1.0,0.843795

In [4]:
## Reclassify bots with threshold 0.7
## what is the current threshold
print(f"current threshold to classify as bot = {df_bothunter[df_bothunter['prediction']==1]['probability'].min()}")

current threshold to classify as bot = 0.5000001001985493

In [5]:
df_bothunter.loc[df_bothunter['probability']>=0.7, 'prediction']=1
df_bothunter.loc[df_bothunter['probability']<0.7, 'prediction']=0
print(f"current threshold to classify as bot = {df_bothunter[df_bothunter['prediction']==1]['probability'].min()}")
df_bothunter

current threshold to classify as bot = 0.7000023904177443

,status_id,user_id,screen_name,prediction,probability
0,1594177624171237376,149538421,raidou_survivor,0.0,0.259450
1,1594178011376455681,1376067487297601537,Nathandrake558,0.0,0.635951
2,1594178020062863360,814034558492545024,SanjayS02169973,1.0,0.788399
3,1594178104750010370,1558118121587752960,Right130813311,1.0,0.715715
4,1594178164456312832,1159168941870256129,Tatastouu,1.0,0.832714
...,...,...,...,...,...
1909036,1600875526201217024,3463820669,theressantv91,1.0,0.778049
1909037,1600875544073056256,1599400388297474049,LenaHar04634640,0.0,0.552477
1909038,1600875577380327425,1401931355554926592,SANTOSH83819519,1.0,0.842683
1909039,1600875583814406145,892232820407418880,Wata__Nao,0.0,0.229234
1909040,1600875587404693509,1533904146,Mmemberville_,1.0,0.843795

In [6]:
df_location = pd.read_csv('./02_cleaned/location.csv').iloc[:, 1:]
df_location

,status_id,location,region,lat,lon,code
0,1604519793281085440,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
1,1604519820334366722,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
2,1604519820523106304,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
3,1604519821130928129,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
4,1604519824541245441,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
...,...,...,...,...,...,...
2069003,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538
2069004,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991
2069005,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133
2069006,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430
2069007,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430

In [7]:
df_emotion = pd.read_csv('./02_cleaned/emotion.csv', low_memory=False).iloc[:, 1:]
df_emotion

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,1486740205654757379,1.486740e+18,#WorldCup2022 Why didn´t Mexico play this way ...,0.027185,0.001112,0.557336,0.005496,0.007620,0.314508,0.086744
1,18908644,1.890864e+07,Arjantin atak üstüne atak yapıyor ama aradığı ...,0.112710,0.031122,0.138428,0.064882,0.439563,0.065871,0.147424
2,1200599170412875776,1.200599e+18,C’est pas Messi qui le rate c’est un arrêt exc...,0.041187,0.001330,0.940288,0.008016,0.002105,0.004824,0.002250
3,1183565334,1.183565e+09,مشاهدة مباراة السعودية والمكسيك بث مباشر اليوم...,0.180309,0.026082,0.291065,0.032152,0.407928,0.049636,0.012828
4,1598001705710686208,1.598002e+18,🔴Live Streaming 🏴🇵🇱Poland vs Argentina🇦🇷🏴👉 ht...,0.023232,0.002056,0.043861,0.208482,0.464637,0.060417,0.197315
...,...,...,...,...,...,...,...,...,...,...
1470409,1034068444600311812,1.034068e+18,RT @q_slavic: #Polska #WorldcupQatar2022. 26.1...,0.066131,0.001013,0.907271,0.008250,0.002006,0.012841,0.002488
1470410,825341312006287361,8.253413e+17,RT @SuperExet: Vote for your favourite teams f...,0.100215,0.001554,0.560896,0.161231,0.104611,0.014567,0.056926
1470411,99849659,9.984966e+07,Suiza vendiste cara esa clasificación de Brasi...,0.243749,0.003676,0.658908,0.035601,0.028908,0.010284,0.018874
1470412,1487871301171744771,1.487871e+18,Ganhamos mas lembrando que Tite escalou mal e ...,0.351239,0.000996,0.486202,0.122127,0.006981,0.025267,0.007188
1470413,1557619138117378049,1.557619e+18,#️⃣ #Brazil #Switzerland #BrazilvsSwitzerland ...,0.054019,0.001668,0.825460,0.083121,0.006542,0.019780,0.009410

In [8]:
df_morals = pd.read_csv('./02_cleaned/morals.csv').iloc[:, 1:]
df_morals

,Author,twitter_id,Date,# mv_care_virtue,# mv_care_vice_harm,# mv_fairness_virtue,# mv_fairness_vice_cheating,# mv_loyalty_virtue,# mv_loyalty_vice_betrayal,# mv_authority_virtue,# mv_authority_vice_subversion,# mv_sanctity_virtue,# mv_sanctity_vice_degradation,# mv_liberty_virtue,# mv_liberty_vice_oppression
0,1984,1596918541261111296,Sun Nov 27 17:27:04 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1984,1596919256826142722,Sun Nov 27 17:29:54 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1984,1596919785304256513,Sun Nov 27 17:32:00 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2360,1599158886006927361,Sat Dec 03 21:49:24 +0000 2022,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,2638,1600186089754755072,Tue Dec 06 17:51:08 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519834,1600870000306290694,1600871536726249472,Thu Dec 08 15:14:51 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519835,1600870006556078080,1600870723895296001,Thu Dec 08 15:11:37 +0000 2022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519836,1600870378334822401,1600874716461342721,Thu Dec 08 15:27:29 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519837,1600870668521902082,1600874052658221056,Thu Dec 08 15:24:51 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519838,1600871030825705472,1600873664483717120,Thu Dec 08 15:23:19 +0000 2022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h2>Data Cleaning</h2>

In [9]:
## Additional cleaning - Removing userids with string
display(df_emotion[df_emotion['userid'].str.isnumeric()==False])
df_emotion = df_emotion[df_emotion['userid'].str.isnumeric()==True]
df_emotion['userid'] = df_emotion['userid'].astype(int)
df_emotion

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
82800,Live Streaming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82801,👉https://t.co/NynskLIlDgk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82802,LINK Vidio/SCTV Stream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82803,🔹https://t.co/g7O8GgAuIi… https://t.co/QERdHExc2F,0.068572,0.007400744594633579,0.203489,0.150625,0.447288,0.048389,0.074237,NaN,NaN
82825,👉https://t.co/NynskLqcp8k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1304670,https://t.co/4hSAs9Kj2e#korea… https://t.co/bn...,0.110659,0.0011839079670608044,0.152331,0.508120,0.040178,0.084764,0.102764,NaN,NaN
1320620,#WorldCup2022 #WorldCup https://t.co/a744zpF4xc,0.120596,0.0016402131877839565,0.732582,0.075011,0.016603,0.031426,0.022142,NaN,NaN
1353855,⚽️ %100 Risksiz Bahis Nakit İade Var!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353856,✅ Hemen Kayıt Ol - https://t.co/S4IctpKVLg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353857,⭐️ Nak… https://t.co/Baje8bXbVJ,0.015789,0.0006905265036039054,0.961927,0.007113,0.006494,0.005225,0.002761,NaN,NaN

/var/folders/63/ll_bjqbn4ds7rn24t9dycq6w0000gn/T/ipykernel_17057/1372656735.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,1486740205654757379,1.486740e+18,#WorldCup2022 Why didn´t Mexico play this way ...,0.027185,0.001112,0.557336,0.005496,0.007620,0.314508,0.086744
1,18908644,1.890864e+07,Arjantin atak üstüne atak yapıyor ama aradığı ...,0.112710,0.031122,0.138428,0.064882,0.439563,0.065871,0.147424
2,1200599170412875776,1.200599e+18,C’est pas Messi qui le rate c’est un arrêt exc...,0.041187,0.001330,0.940288,0.008016,0.002105,0.004824,0.002250
3,1183565334,1.183565e+09,مشاهدة مباراة السعودية والمكسيك بث مباشر اليوم...,0.180309,0.026082,0.291065,0.032152,0.407928,0.049636,0.012828
4,1598001705710686208,1.598002e+18,🔴Live Streaming 🏴🇵🇱Poland vs Argentina🇦🇷🏴👉 ht...,0.023232,0.002056,0.043861,0.208482,0.464637,0.060417,0.197315
...,...,...,...,...,...,...,...,...,...,...
1470409,1034068444600311812,1.034068e+18,RT @q_slavic: #Polska #WorldcupQatar2022. 26.1...,0.066131,0.001013,0.907271,0.008250,0.002006,0.012841,0.002488
1470410,825341312006287361,8.253413e+17,RT @SuperExet: Vote for your favourite teams f...,0.100215,0.001554,0.560896,0.161231,0.104611,0.014567,0.056926
1470411,99849659,9.984966e+07,Suiza vendiste cara esa clasificación de Brasi...,0.243749,0.003676,0.658908,0.035601,0.028908,0.010284,0.018874
1470412,1487871301171744771,1.487871e+18,Ganhamos mas lembrando que Tite escalou mal e ...,0.351239,0.000996,0.486202,0.122127,0.006981,0.025267,0.007188
1470413,1557619138117378049,1.557619e+18,#️⃣ #Brazil #Switzerland #BrazilvsSwitzerland ...,0.054019,0.001668,0.825460,0.083121,0.006542,0.019780,0.009410

In [10]:
df_location

,status_id,location,region,lat,lon,code
0,1604519793281085440,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
1,1604519820334366722,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
2,1604519820523106304,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
3,1604519821130928129,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
4,1604519824541245441,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393
...,...,...,...,...,...,...
2069003,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538
2069004,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991
2069005,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133
2069006,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430
2069007,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430

In [ ]:
df_location['region']

## Bothunter + Location

In [10]:
df_bothunter_location = df_location.merge(df_bothunter, on='status_id')
df_bothunter_location

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668
...,...,...,...,...,...,...,...,...,...,...
1909051,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538,420255572,Trozz2,1.0,0.904866
1909052,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598
1909053,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437
1909054,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257
1909055,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257

In [11]:
## % of bots vs humans distributed across regions
df_bothunter_freq = pd.DataFrame(df_bothunter_location.groupby(
    ['location', 'region', 'lat', 'lon', 'prediction']).size()).reset_index().rename(columns={0:'count'})
df_bothunter_freq
df_bothunter_freq.loc[:,'percentage']=(df_bothunter_freq['count']*100/df_bothunter_freq.groupby(['location', 'region', 'lat', 'lon'])['count'].transform('sum')).round(2)
df_bothunter_freq

,location,region,lat,lon,prediction,count,percentage
0,`ajlun-20-jo,asia/amman,32.33385,35.75238,0.0,161,91.48
1,`ajlun-20-jo,asia/amman,32.33385,35.75238,1.0,15,8.52
2,`ajman-02-ae,asia/dubai,25.41111,55.43504,0.0,314,72.52
3,`ajman-02-ae,asia/dubai,25.41111,55.43504,1.0,119,27.48
4,`ar`ar-15-sa,asia/riyadh,30.97531,41.03808,0.0,70,59.32
...,...,...,...,...,...,...,...
5556,zurich-zh112-ch,europe/zurich,47.36667,8.55000,1.0,6308,62.31
5557,zwickau-13-de,europe/berlin,50.72724,12.48839,0.0,101,63.92
5558,zwickau-13-de,europe/berlin,50.72724,12.48839,1.0,57,36.08
5559,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,0.0,505,73.08
5560,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,1.0,186,26.92

In [12]:
df_bothunter_freq.to_csv('./03_results/bothunter_location.csv')

## Bothunter + Location + Emotions

In [13]:
df_bothunter_location

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668
...,...,...,...,...,...,...,...,...,...,...
1909051,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538,420255572,Trozz2,1.0,0.904866
1909052,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598
1909053,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437
1909054,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257
1909055,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257

In [14]:
df_emotion

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
0,1486740205654757379,1.486740e+18,#WorldCup2022 Why didn´t Mexico play this way ...,0.027185,0.001112,0.557336,0.005496,0.007620,0.314508,0.086744
1,18908644,1.890864e+07,Arjantin atak üstüne atak yapıyor ama aradığı ...,0.112710,0.031122,0.138428,0.064882,0.439563,0.065871,0.147424
2,1200599170412875776,1.200599e+18,C’est pas Messi qui le rate c’est un arrêt exc...,0.041187,0.001330,0.940288,0.008016,0.002105,0.004824,0.002250
3,1183565334,1.183565e+09,مشاهدة مباراة السعودية والمكسيك بث مباشر اليوم...,0.180309,0.026082,0.291065,0.032152,0.407928,0.049636,0.012828
4,1598001705710686208,1.598002e+18,🔴Live Streaming 🏴🇵🇱Poland vs Argentina🇦🇷🏴👉 ht...,0.023232,0.002056,0.043861,0.208482,0.464637,0.060417,0.197315
...,...,...,...,...,...,...,...,...,...,...
1470409,1034068444600311812,1.034068e+18,RT @q_slavic: #Polska #WorldcupQatar2022. 26.1...,0.066131,0.001013,0.907271,0.008250,0.002006,0.012841,0.002488
1470410,825341312006287361,8.253413e+17,RT @SuperExet: Vote for your favourite teams f...,0.100215,0.001554,0.560896,0.161231,0.104611,0.014567,0.056926
1470411,99849659,9.984966e+07,Suiza vendiste cara esa clasificación de Brasi...,0.243749,0.003676,0.658908,0.035601,0.028908,0.010284,0.018874
1470412,1487871301171744771,1.487871e+18,Ganhamos mas lembrando que Tite escalou mal e ...,0.351239,0.000996,0.486202,0.122127,0.006981,0.025267,0.007188
1470413,1557619138117378049,1.557619e+18,#️⃣ #Brazil #Switzerland #BrazilvsSwitzerland ...,0.054019,0.001668,0.825460,0.083121,0.006542,0.019780,0.009410

#### Approach: Check each emotion message is bot or not and what location was it

In [15]:
searchdf(df_bothunter_location, user_id=1486740205654757379)

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
852313,1598040909949636635,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.287861
853715,1598063782559092737,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.287861
864851,1598039182584459265,mexico city-09-mx,america/mexico_city,19.42847,-99.12766,21375109,1486740205654757379,CQuillwitch,0.0,0.282930

In [16]:
df_emotion['userid'].map(df_bothunter_location['user_id'].value_counts())

0             3
1            57
2             8
3           461
4           739
           ...
1470409       9
1470410       1
1470411       3
1470412       3
1470413    1072
Name: userid, Length: 1469440, dtype: int64

#### Approach: Check each bothunter and find message

In [17]:
searchdf(df_emotion, userid=1409063540749520898)

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
136405,1409063540749520898,1.409064e+18,RT @avshimiken: 日本負けてザワついてるけど負けた方が学びは大きい。436万人...,0.114485,0.00767,0.058999,0.036845,0.650033,0.024435,0.107532

In [18]:
df_bothunter_location['user_id'].map(df_emotion['userid'].value_counts())

0           1.0
1           2.0
2           5.0
3           1.0
4           1.0
           ...
1909051     1.0
1909052    25.0
1909053     2.0
1909054     2.0
1909055     2.0
Name: user_id, Length: 1909056, dtype: float64

In [19]:
df_bothunter_location.loc[2, 'user_id']

1471383277219250182

In [20]:
searchdf(df_emotion, userid=1471383277219250182)

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
136451,1471383277219250182,1.471383e+18,森保監督、旗手レオって選手知ってますか？#日本代表 #川崎フロンターレ #WorldcupQ...,0.363263,0.001493,0.552643,0.046814,0.009443,0.016785,0.009559
567717,1471383277219250182,1.471383e+18,20.21年、川崎フロンターレが無双してた時にめちゃくちゃこの形が多かったのよね。だから絶対...,0.411750,0.009597,0.263775,0.044865,0.179136,0.033793,0.057083
862196,1471383277219250182,1.471383e+18,RT @NAOKIARAI24: 20.21年、川崎フロンターレが無双してた時にめちゃくちゃ...,0.236091,0.004718,0.173566,0.046519,0.377230,0.043807,0.118069
1165056,1471383277219250182,1.471383e+18,俺たちのキャプテン谷口彰悟を「川崎でしょ？所詮JだからW杯じゃ使えない」って言ってた勢、息し...,0.340980,0.001449,0.538988,0.070629,0.014242,0.019808,0.013903
1403617,1471383277219250182,1.471383e+18,サッカー日本代表はいつのまに3バック(5バック)がデェフォルトになった？クロアチア4-3-3...,0.168840,0.035162,0.046104,0.053964,0.542427,0.034925,0.118578

#### Approach : Lets take aggregate emotions of each userid

In [21]:
df_emotion_mean = df_emotion.groupby('userid').mean().reset_index()
df_emotion_mean

/var/folders/63/ll_bjqbn4ds7rn24t9dycq6w0000gn/T/ipykernel_24527/1660352911.py:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,userid,tweetid,anger,disgust,fear,joy,neutral,sadness,surprise
0,1984,1.984000e+03,0.006145,0.000630,0.015928,0.654465,0.144237,0.068406,0.110188
1,2360,2.360000e+03,0.042762,0.004938,0.005220,0.367041,0.379256,0.012330,0.188454
2,2638,2.638000e+03,0.052312,0.000532,0.184528,0.676653,0.028803,0.017081,0.040091
3,2654,2.654000e+03,0.024027,0.000333,0.964293,0.001881,0.001760,0.006262,0.001444
4,2764,2.764000e+03,0.093482,0.000509,0.748499,0.094303,0.008575,0.028541,0.026090
...,...,...,...,...,...,...,...,...,...
682571,1600870000306290694,1.600870e+18,0.057905,0.001571,0.471044,0.452961,0.002181,0.010526,0.003814
682572,1600870006556078080,1.600870e+18,0.066724,0.003232,0.006440,0.054055,0.801003,0.011178,0.057368
682573,1600870378334822401,1.600870e+18,0.018179,0.001184,0.083089,0.027319,0.469531,0.037896,0.362803
682574,1600870668521902082,1.600871e+18,0.018179,0.001184,0.083089,0.027319,0.469531,0.037896,0.362803
682575,1600871030825705472,1.600871e+18,0.072692,0.003520,0.005837,0.049664,0.802488,0.010700,0.055099

In [22]:
searchdf(df_emotion, userid=1984)

,userid,tweetid,text,anger,disgust,fear,joy,neutral,sadness,surprise
95764,1984,1984.0,Nice to see a Croatia fan wearing a water polo...,0.002284,0.000640,0.002769,0.978869,0.002824,0.001508,0.011107
96339,1984,1984.0,#WorldcupQatar2022 Nice to see a Croatia fan w...,0.003617,0.000375,0.011664,0.952882,0.002489,0.002476,0.026497
96781,1984,1984.0,#WorldcupQatar2022 Oh. Canada 😔,0.012536,0.000876,0.033352,0.031644,0.427400,0.201233,0.292961

#### Merge (bothunter + Location is the base table)

In [23]:
display(df_bothunter_location['user_id'].map(df_emotion_mean['userid'].value_counts()))

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1909051    1.0
1909052    1.0
1909053    1.0
1909054    1.0
1909055    1.0
Name: user_id, Length: 1909056, dtype: float64

In [24]:
df_bothunter_location_emotion = df_bothunter_location.merge(df_emotion_mean, left_on='user_id', right_on='userid')
df_bothunter_location_emotion

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability,userid,tweetid,anger,disgust,fear,joy,neutral,sadness,surprise
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301,1409063540749520898,1.409064e+18,0.114485,0.007670,0.058999,0.036845,0.650033,0.024435,0.107532
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428,1582581287529099265,1.582581e+18,0.235524,0.017881,0.192412,0.042720,0.369554,0.093387,0.048522
2,1596846100245204993,city of london-enggla-gb,europe/london,51.51279,-0.09184,17401356,1582581287529099265,bank28829336,1.0,0.807428,1582581287529099265,1.582581e+18,0.235524,0.017881,0.192412,0.042720,0.369554,0.093387,0.048522
3,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880,1471383277219250182,1.471383e+18,0.304185,0.010484,0.315015,0.052558,0.224495,0.029824,0.063438
4,1599777190031552512,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.423582,1471383277219250182,1.471383e+18,0.304185,0.010484,0.315015,0.052558,0.224495,0.029824,0.063438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670577,1599493185579122689,praia-14-cv,atlantic/cape_verde,14.93152,-23.51254,113364,290417672,DecB1,0.0,0.207060,290417672,2.904177e+08,0.017681,0.006556,0.014743,0.022087,0.626479,0.085669,0.226785
1670578,1597638985299677184,cherkessk-27-ru,europe/moscow,44.22333,42.05778,165343,1199625404211970055,semoo78361093,0.0,0.471277,1199625404211970055,1.199625e+18,0.059752,0.000727,0.918987,0.006249,0.004456,0.007769,0.002060
1670579,1597651605402550273,nizhniy tagil-71-ru,asia/yekaterinburg,57.91944,59.96500,534796,1279128886794690571,Solomonovna_,0.0,0.323670,1279128886794690571,1.279129e+18,0.048558,0.003467,0.834547,0.035404,0.031498,0.029394,0.017133
1670580,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257,1406963496546443268,1.406963e+18,0.039512,0.001147,0.428256,0.288044,0.120015,0.018865,0.104160
1670581,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257,1406963496546443268,1.406963e+18,0.039512,0.001147,0.428256,0.288044,0.120015,0.018865,0.104160

In [25]:
df_ble_freq = \
pd.DataFrame(df_bothunter_location_emotion.groupby(
    ['location', 'region', 'lat', 'lon', 'prediction']).agg({'anger':'mean', 
                                                             'disgust':'mean',
                                                             'fear':'mean',
                                                             'joy':'mean',
                                                             'neutral':'mean',
                                                             'sadness':'mean',
                                                             'surprise':'mean'}).reset_index())
df_ble_freq

,location,region,lat,lon,prediction,anger,disgust,fear,joy,neutral,sadness,surprise
0,`ajlun-20-jo,asia/amman,32.33385,35.75238,0.0,0.157472,0.013708,0.562638,0.108387,0.108624,0.032528,0.016644
1,`ajlun-20-jo,asia/amman,32.33385,35.75238,1.0,0.138439,0.016309,0.525496,0.058550,0.207979,0.034809,0.018420
2,`ajman-02-ae,asia/dubai,25.41111,55.43504,0.0,0.115801,0.004742,0.672756,0.064339,0.088702,0.031953,0.021706
3,`ajman-02-ae,asia/dubai,25.41111,55.43504,1.0,0.137027,0.008245,0.593775,0.066983,0.143962,0.029433,0.020576
4,`ar`ar-15-sa,asia/riyadh,30.97531,41.03808,0.0,0.126709,0.019092,0.711986,0.027177,0.083284,0.023746,0.008006
...,...,...,...,...,...,...,...,...,...,...,...,...
5470,zurich-zh112-ch,europe/zurich,47.36667,8.55000,1.0,0.050774,0.002235,0.255058,0.129349,0.437428,0.033761,0.091395
5471,zwickau-13-de,europe/berlin,50.72724,12.48839,0.0,0.118323,0.008310,0.553897,0.086094,0.125446,0.071881,0.036049
5472,zwickau-13-de,europe/berlin,50.72724,12.48839,1.0,0.105689,0.009183,0.582490,0.068055,0.136838,0.063264,0.034481
5473,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,0.0,0.115759,0.003075,0.438510,0.093060,0.215188,0.054410,0.079999
5474,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,1.0,0.128108,0.002996,0.452828,0.076322,0.227367,0.042848,0.069530

In [26]:
df_ble_freq.to_csv('./03_results/bothunter_location_emotions.csv')

## Bothunter + Location + Morals

In [27]:
df_bothunter_location

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668
...,...,...,...,...,...,...,...,...,...,...
1909051,1594273027298148352,troitsk-13-ru,asia/yekaterinburg,54.09790,61.57730,121538,420255572,Trozz2,1.0,0.904866
1909052,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598
1909053,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437
1909054,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257
1909055,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257

In [28]:
df_morals

,Author,twitter_id,Date,# mv_care_virtue,# mv_care_vice_harm,# mv_fairness_virtue,# mv_fairness_vice_cheating,# mv_loyalty_virtue,# mv_loyalty_vice_betrayal,# mv_authority_virtue,# mv_authority_vice_subversion,# mv_sanctity_virtue,# mv_sanctity_vice_degradation,# mv_liberty_virtue,# mv_liberty_vice_oppression
0,1984,1596918541261111296,Sun Nov 27 17:27:04 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1984,1596919256826142722,Sun Nov 27 17:29:54 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1984,1596919785304256513,Sun Nov 27 17:32:00 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2360,1599158886006927361,Sat Dec 03 21:49:24 +0000 2022,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,2638,1600186089754755072,Tue Dec 06 17:51:08 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519834,1600870000306290694,1600871536726249472,Thu Dec 08 15:14:51 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519835,1600870006556078080,1600870723895296001,Thu Dec 08 15:11:37 +0000 2022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519836,1600870378334822401,1600874716461342721,Thu Dec 08 15:27:29 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519837,1600870668521902082,1600874052658221056,Thu Dec 08 15:24:51 +0000 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519838,1600871030825705472,1600873664483717120,Thu Dec 08 15:23:19 +0000 2022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
searchdf(df_bothunter_location, user_id=1984)

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability
225147,1596918541261111296,city of london-enggla-gb,europe/london,51.51279,-0.09184,17401356,1984,jd_lewin,0.0,0.068307
225235,1596919256826142722,city of london-enggla-gb,europe/london,51.51279,-0.09184,17401356,1984,jd_lewin,0.0,0.068307
845319,1596919785304256513,toronto-08-ca,america/toronto,43.70011,-79.41630,7985697,1984,jd_lewin,0.0,0.068307

Column mapping between bothunter_location and morals are follows - respectively
<br>
status_id : twitter_id
<br>
user_id : Author

In [31]:
df_blm = df_bothunter_location.merge(df_morals, left_on=['user_id', 'status_id'], right_on=['Author', 'twitter_id'])
df_blm

,status_id,location,region,lat,lon,code,user_id,screen_name,prediction,probability,...,# mv_fairness_virtue,# mv_fairness_vice_cheating,# mv_loyalty_virtue,# mv_loyalty_vice_betrayal,# mv_authority_virtue,# mv_authority_vice_subversion,# mv_sanctity_virtue,# mv_sanctity_vice_degradation,# mv_liberty_virtue,# mv_liberty_vice_oppression
0,1596845986336641025,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1409063540749520898,xDsjtz0CXfEydkw,0.0,0.124301,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1596846000005533696,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1582581287529099265,bank28829336,1.0,0.807428,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1596846074031140866,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1471383277219250182,NAOKIARAI24,0.0,0.433880,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1596846095824396288,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1468860710574645249,Mason96093167,0.0,0.488711,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1596846208240463872,tokyo-40-jp,asia/tokyo,35.68950,139.69171,13126393,1186836309333032960,ZwRvolDalAoCZtO,1.0,0.769668,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519849,1599650116306030592,kansk-91-ru,asia/krasnoyarsk,56.20167,95.71750,118170,1021741246455402496,Vc9zYx1u2Nn8SgV,0.0,0.458199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519850,1599412673816711169,smolensk-69-ru,europe/moscow,54.78180,32.04010,320991,2912815271,Stavki_ru,0.0,0.475598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519851,1599435234814365699,jhalawar-24-in,asia/kolkata,24.59676,76.16503,176133,1277220460581629958,Mohieb14,0.0,0.207437,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519852,1599445216674516992,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519853,1599445595105923073,biysk-04-ru,asia/omsk,52.53639,85.20722,215430,1406963496546443268,m4opZaqC1GiVeBf,0.0,0.362257,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df_blm_freq = \
pd.DataFrame(df_blm.groupby(
    ['location', 'region', 'lat', 'lon', 'prediction']).mean().reset_index())
df_blm_freq

/var/folders/63/ll_bjqbn4ds7rn24t9dycq6w0000gn/T/ipykernel_24527/1741755328.py:3: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,location,region,lat,lon,prediction,status_id,code,user_id,probability,Author,...,# mv_fairness_virtue,# mv_fairness_vice_cheating,# mv_loyalty_virtue,# mv_loyalty_vice_betrayal,# mv_authority_virtue,# mv_authority_vice_subversion,# mv_sanctity_virtue,# mv_sanctity_vice_degradation,# mv_liberty_virtue,# mv_liberty_vice_oppression
0,`ajlun-20-jo,asia/amman,32.33385,35.75238,0.0,1.597892e+18,125557.0,1.231770e+18,0.457980,1.231770e+18,...,0.000000,0.000000,0.006944,0.0,0.000000,0.000000,0.000000,0.000000,0.006944,0.000000
1,`ajlun-20-jo,asia/amman,32.33385,35.75238,1.0,1.597977e+18,125557.0,7.595172e+17,0.806991,7.595172e+17,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,`ajman-02-ae,asia/dubai,25.41111,55.43504,0.0,1.598431e+18,226172.0,5.599376e+17,0.395782,5.599376e+17,...,0.013825,0.004608,0.082949,0.0,0.009217,0.000000,0.018433,0.000000,0.013825,0.013825
3,`ajman-02-ae,asia/dubai,25.41111,55.43504,1.0,1.598691e+18,226172.0,4.721810e+17,0.801816,4.721810e+17,...,0.000000,0.000000,0.021978,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,`ar`ar-15-sa,asia/riyadh,30.97531,41.03808,0.0,1.598475e+18,148540.0,8.338579e+17,0.407643,8.338579e+17,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5450,zurich-zh112-ch,europe/zurich,47.36667,8.55000,1.0,1.598110e+18,874800.0,1.469594e+18,0.837136,1.469594e+18,...,0.001127,0.000966,0.118860,0.0,0.000966,0.000322,0.000805,0.000483,0.001772,0.003704
5451,zwickau-13-de,europe/berlin,50.72724,12.48839,0.0,1.598220e+18,406174.0,8.357741e+17,0.399713,8.357741e+17,...,0.010989,0.021978,0.054945,0.0,0.010989,0.000000,0.010989,0.021978,0.021978,0.000000
5452,zwickau-13-de,europe/berlin,50.72724,12.48839,1.0,1.598796e+18,406174.0,1.246383e+18,0.834598,1.246383e+18,...,0.000000,0.000000,0.018182,0.0,0.018182,0.000000,0.036364,0.018182,0.036364,0.000000
5453,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,0.0,1.598537e+18,317594.0,6.888100e+17,0.375085,6.888100e+17,...,0.007491,0.007491,0.078652,0.0,0.011236,0.007491,0.022472,0.014981,0.011236,0.037453
5454,zwolle-15-nl,europe/amsterdam,52.51250,6.09444,1.0,1.598430e+18,317594.0,7.975768e+17,0.818086,7.975768e+17,...,0.009009,0.009009,0.081081,0.0,0.000000,0.000000,0.027027,0.000000,0.000000,0.009009

In [33]:
df_blm_freq.to_csv('./03_results/bothunter_location_morals.csv')